<div class="container-fluid" id="footerarea">
    <div class="row">
        <div class="col-sm-12" id="footer-top">
          <a href="/service" class="pull-right"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Leave us a message  </a>
        </div>
    </div>
    <div class="row" id="footer-bottom">
        <div class="col-sm-12">
             &copy;2016 In4mo Oy
        </div>
    </div>
</div>
