<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="text-muted"><img src="images/language_icon.svg" alt="Language" id="language" /><br />LANGUAGE</span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-pills navbar-right center-pills">
                <li><a href="#"><span class="flag-icon flag-icon-dk"></span></a></li>
                <li><a href="#"><span class="flag-icon flag-icon-nl"></span></a></li>
                <li><a href="#"><span class="flag-icon flag-icon-no"></span></a></li>
                <li><a href="#"><span class="flag-icon flag-icon-fi"></span></a></li>
                <li><a href="#"><span class="flag-icon flag-icon-se"></span></a></li>
                <li><a href="#"><span class="flag-icon flag-icon-gb"></span></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!--3D navigation menu starts-->
<div class="container-fluid" id="nav">
    <ul class="nav-bar nav-menu  clearfix unstyled">
        <li>
            <a href="/" class="nav-elem">
              Home
              <span class="nav-elem-box">
                <span class="face">
                  Home
                </span>
                <span class="hide-part">
                  Home
                </span>
              </span>
            </a>
          </li>

          <li>
            <a href="/service" class="nav-elem">
              Our Services
              <span class="nav-elem-box">
                <span class="face">
                  Our Services
                </span>
                <span class="hide-part">
                  Our Services
                </span>
              </span>
            </a>
        </li>

      <li>
        <a href="/customers" class="nav-elem">
          Customers
          <span class="nav-elem-box">
            <span class="face">
              Customers
            </span>
            <span class="hide-part">
              Customers
            </span>
          </span>
        </a>
      </li>

      <li>
        <a href="/jobs" class="nav-elem">
          Jobs
          <span class="nav-elem-box">
            <span class="face">
              Jobs
            </span>
            <span class="hide-part">
              Jobs
            </span>
          </span>
        </a>
      </li>

      <li>
        <a href="/news" class="nav-elem">
        News
        <span class="nav-elem-box">
          <span class="face">
            News
          </span>
          <span class="hide-part">
            News
          </span>
        </span>
      </a>
    </li>

    <li>
      <a href="/aboutus" class="nav-elem">
        About Us
        <span class="nav-elem-box">
          <span class="face">
            About Us
          </span>
          <span class="hide-part">
            About Us
          </span>
        </span>
      </a>
    </li>
  </ul>
</div>
<!--End of 3D navigation menus ends-->
