<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UI-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width" ,initial-scale=1>
  <!--The above three meta tags must come first-->
  <meta name="description" content="In4mo is specialized in bringing efficiency increasing solutions to insurance companies and their partners. In4mo’s solutions, typically by using a web portal and a mobile app, bring different parties together for business collaboration.">
  <meta name="author" content="In4mo's developer team">
  <meta name="keywords" content="Building Claims, Boat Claims,Cost Calculation, Underwriting,Contractor">
  <!--Following are the open graph protocol-->
  <meta property="og:title" content="Claiming Expert">
  <meta property="og:type" content="Claiming Service">
  <meta property="og:url" content="http://www.in4mo.com/">
  <meta property="og:image" content="http://www.in4mo.com/image/upload/bv_certification_iso27001.gif">
  <meta property="og:site_name" content="in4mo.com">
  <title>Building Claims | Boat Claims | Cost Calculation </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/flag-icon-css-master/css/flag-icon.min.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>

    {{>header}}
    {{{body}}}
    {{>footer}}

    <!-- Latest minified  jQuery-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/vinayakjadhav/jR3DCarousel/v0.0.8/dist/jR3DCarousel.min.js"></script>
    <script src="javascripts/home-slider.js" charset="utf-8"></script>
</body>

</html>
