<div class="container-fluid" id="aboutus-div">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="#board">BOARD OF DIRECTORS</a></li>
        <li role="presentation"><a href="#team">MANAGEMENT TEAM</a></li>
        <li role="presentation"><a href="#values">OUR VALUES</a></li>
        <li role="presentation"><a href="#environment">ENVIRONMENT</a></li>
    </ul>

    <div class="row">
      <h3>Introduction to In4mo</h3>
        <div class="col-sm-8" id="board-left">
            <p class="text-muted">
                In4mo Ltd was established in the autumn of 2007. For the first two years, the focus was on developing the technological components that are the basis of today's MMR solution.
                <br> In4mo team consists of different nationalities and backgrounds, all came together to bring up innovations.
                <br> It was towards the end of 2009 that we decided to focus on <u>Damage Claim Handling Process</u>. Since then, In4mo has worked in <u>close cooperation</u> with several insurance companies and service
                companies to bring up its solution as the tool which brings real <u>efficiency gains</u>.
                <br> Insurance holders have been the biggest beneficiaries of our innovation. <u>Fast compensation decisions</u> for Property Damage Claims as well as <u>easy and quick access to the progress</u> of
                the repair work increases the <u>Peace of Mind</u> for insurance holders.
                <br> We have paid a great deal of attention to simplicity, so In4mo tools are <u>easy-to-use</u> both in the field and back at the office where the field work is analyzed.
                <br> In4mo continues to focus on the needs of <u>Insurance companies</u> and their partners, such as <u>Drying companies</u> and <u>Construction companies.</u> Our goal is to continuously
                improve our capabilities to help our customers achieve even more efficient processes and happier end-customers.
            </p>

        </div>
        <div class="col-sm-4" id="board-right">
            <img src="images/high-building.jpg" alt="High building" class="img-thumbnail">
        </div>
    </div>


<!---Board of directors-->

    <div class="row" id="board">
      <h3>Board of directors</h3>
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/kursat.jpg" alt="Kursat">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Kursat Inandik <span class="label label-primary degree">BSc.Eng and EMBA</span></h4>
                   <p class="text-muted"><u>Partner and Chairman of the Board</u><br> 18 years experience at Nokia Networks in several roles including SW development, system integration, training and running an international service business. Expertise in new service development and delivery.</p>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/timo.jpg" alt="Paul">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Timo Kuisma <span class="label label-primary degree">MSc.Eng</span>
</h4>
                  <p class="text-muted"><u>Partner and Member of the Board</u><br> 10+ years experience in running service business in different countries for Nokia Networks. Expertise in international operations development and project management.
</p>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/suleyman.jpg" alt="Teemu">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Suleyman Erdogan <span class="label label-primary degree">BSc.Eng</span>
</h4>
                   <p class="text-muted"><u>Partner and Mmber of the Board</u><br> Serial entrepreneur. Co-founder of Ortana Ltd in Turkey, which has grown to become a strong international player in large display units and Intelligent Traffic Systems.
</p>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/ari.jpg" alt="Jan">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Ari Korhonen <span class="label label-primary degree">MSc.Eng</span>
</h4>
                   <p class="text-muted"><u>Partner and Member of the Board</u><br> Ari developed his first company Komartek to great success. Komartek was operating in four countries and had customers in ten when it was bought by Logica. Ari has a lot of experience in startups and global business, both at a strategic and an operational level.
</p>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/jussi.jpg" alt="Robert">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Jussi Ilmarinen <span class="label label-primary degree">MSc.Eng</span>
</h4>
                  <p class="text-muted"><u>Partner and Member of the Board</u><br> 12 years of experience at Nokia in different roles including Product Marketing, Market Development and Analyst Relations. Expertise in Business Development.</p>
              </div>
          </div>
        </div>
    </div>

<!--Management team overview-->
    <div class="row" id="team">
      <h3>Management team overview</h3>
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/kursat.jpg" alt="Kursat">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Kursat Inandik <span class="label label-primary">CEO</span>
</h4>
                   <p class="text-muted">18 years experience at Nokia Networks in several roles including SW development, system integration, training and running an international service business. Expertise in new service development and delivery.</p>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/paul.jpg" alt="Paul">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Paul Susan <span class="label label-primary">CTO</span>
</h4>
                  <p class="text-muted">20 Years experience at Nokia and Nokia Siemens Networks in various roles including customer training, technical support, consulting and solution design. Expertise in system architecture, server solutions and mobile networks.</p>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/teemu.jpg" alt="Teemu">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Teemu Toivonen <span class="label label-primary">Business Development</span>
</h4>
                   <p class="text-muted">15+ years experience in domestic and international sales, account management, training and technical support. Expertise in business development challenges.</p>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/jan.jpg" alt="Jan">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Jan Marttila <span class="label label-primary">Primary</span>
</h4>
                   <p class="text-muted">20 years experience in sales & marketing in the IT and Telecommunication industry, including positions at Compaq (HP), Sony Ericsson, LG, among others. Experienced in driving business in Sweden, Norway and Denmark.</p>
              </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/robert.jpg" alt="Robert">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Robert Andersson <span class="label label-primary">Customer Care</span>
</h4>
                  <p class="text-muted">12 years of experience at Nokia in different roles including Product Marketing, Market Development and Analyst Relations. Expertise in Business Development.</p>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="media">
              <div class="media-left">
                  <a href="#">
                      <img class="media-object" src="images/management-team/jc.jpg" alt="JC">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Jean-Christophe (JC) Andre <span class="label label-primary">Marketing & Strategy Planning</span>
</h4>
                   <p class="text-muted">20+ years' experience in the High-Tech industry in a wide range of roles from Strategy to Care, including Product Engineering, Quality and Portfolio management roles. Expertise in Strategy Development and Execution gained in Nokia, Microsoft and Tecnotree these last 10 years.</p>
              </div>
          </div>
        </div>
    </div>

<!--Company values-->
    <div class="row" id="values">
      <h3>Our values</h3>
        <div class="col-sm-8" id="values-left">
            <ul class="list-unstyled">
              <li>
                <h4>Customer satisfaction</h4>
                <p class="text-muted">We are continuously on alert to help our customers and maintain a consistently high level of service. We try to exceed our customers’ expectations every day.</p>
              </li>
              <li>
                <h4>Innovation</h4>
                <p class="text-muted">We look at the issues through different point of views and bring up alternative solutions. We try to automate tasks using different technologies to ease our customers' daily lives as much as possible.</p>
              </li>
              <li>
                <h4>Respect</h4>
                <p class="text-muted">We respect all our colleagues, customers and partners as individuals. We promote diversity, integrity and fairness.</p>
              </li>
              <li>
                <h4>Responsibility</h4>
                <p class="text-muted">We keep our promises. We look for win-win situations. We work proactively to solve potential problems.</p>
              </li>
            </ul>

        </div>
        <div class="col-sm-4" id="values-right">
            <img src="images/sky.jpg" alt="High building" class="img-thumbnail">
        </div>
    </div>

    <div class="row" id="environment">
      <h3>Environment</h3>
        <div class="col-sm-8" id="environment-left">
          <p class="text-muted">In4mo is committed to integrating environmental thinking in our daily work. The key elements of our strategy to achieve this are as follows:</p>
            <ul class="list-unstyled">
              <li>
                <p class="text-muted"><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;We are continuously on alert to help our customers and maintain a consistently high level of service. We try to exceed our customers’ expectations every day.</p>
              </li>
              <li>
                <p class="text-muted"><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;We look at the issues through different point of views and bring up alternative solutions. We try to automate tasks using different technologies to ease our customers' daily lives as much as possible.</p>
              </li>
              <li>
                <p class="text-muted"><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;We respect all our colleagues, customers and partners as individuals. We promote diversity, integrity and fairness.</p>
              </li>
              <li>
                <p class="text-muted"><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;We keep our promises. We look for win-win situations. We work proactively to solve potential problems.</p>
              </li>
            </ul>

            <p class="text-muted">In4mo MMR-solutions are designed to make our customers business processes more efficient at every step. Features such as work allocation, mileage planning and remote measurements reduce fuel consumption, while the online reporting system minimizes the use of paper. Our service is shared between our customers and their partners, increasing the efficiency of the entire business process and decreasing the resource consumption of everyone involved.</p>

        </div>
        <div class="col-sm-4" id="environment-right">
            <img src="images/Leaves.jpg" alt="High building" class="img-thumbnail">
        </div>
    </div>
<!--To the top button-->
    <div class="row" id="top-button">
      <div class="col-sm-12">
        <a href="#aboutus-div"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
      </div>

    </div>
</div>
