<!--Main body area starts-->
<div class="container-fluid" id="mainarea">

    <!--Slider starts-->
    <section id="slider" class="container">
        <ul class="slider-wrapper">
            <li class="current-slide">
                <img src="images/slide/move-fast.jpg" title="" alt="">

                <div class="caption">
                    <h1 class="slider-title">Moving fast</h1>
                </div>
            </li>

            <li>
                <img src="images/slide/happy-customers.jpg" title="" alt="">

                <div class="caption">
                    <h1 class="slider-title">for more satisfying customers</h1>
                </div>
            </li>

            <li>
                <img src="images/slide/work-together.jpg" title="" alt="">

                <div class="caption">
                    <h1 class="slider-title">together... Let's work with us!</h1>
                </div>
            </li>
        </ul>
        <!-- container for showing the slide -->
        <div class="slider-shadow"></div>

        <!-- Navigation buttons -->
        <ul id="control-buttons" class="control-buttons"></ul>
    </section>
    <!--Slider ends-->

    <!--Body content starts-->
    <div class="row" id="main-row">
        <div class="col-sm-8 maincontents">
            <h3>Welcome to In4mo!</h3>
            </h1>
            <p class="text-muted">
                In4mo is specialized in bringing efficiency increasing solutions to insurance companies and their partners. In4mo’s solutions, typically by using a web portal and a mobile app, bring different parties together for business collaboration. Our solutions
                help the players execute a streamlined process in an easier manner. When many of the activities are automated, it is easier to reach your targets both in Cost Efficiency and in Customer Satisfaction.
            </p>

            <h4>With in4mo, you can:</h4>

            <ul class=" text-muted list-unstyled">
                <li><i class="fa fa-check" aria-hidden="true"></i> Streamline underwriting and claim handling processes</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Act quicker when the number of claims increase suddenly</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Easily and effectively maintain a partner network</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Bring mobile reporting and remote monitoring to your repair jobs</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Show your customers the progress of their cases</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Follow key performance indicators of your organization</li>
            </ul>

            <p class="text-muted">
                With our dynamic and innovative team and our state-of-the-art technology, we are ready to help you to take your business processes to the next level.
            </p>

        </div>


        <div class="col-sm-4">
            <h4 id="recent-news-title">Recent news&nbsp;&nbsp;<i class="fa fa-newspaper-o" aria-hidden="true"></i></h4>
            <ul class="list-unstyled" id="recent-news">
                <li>
                    <span class="news-dates">
                    15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                  </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>

                <li>
                    <span class="news-dates">
                    15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                  </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>

                <li>
                    <span class="news-dates">
                    15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                  </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>

                <li>
                    <span class="news-dates">
            Read more news&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-external-link" aria-hidden="true"></i></a>
          </span>
                </li>
            </ul>

            <div id="iso-info">
                <img src="images/bv_certification_iso27001.gif" alt="Ios27001 Certificate" />
            </div>
        </div>

    </div>
    <!--Body content ends-->
</div>
