<div class="container-fluid" id="jobsdiv">
    <div class="row" id="jobs-title">
        <div class="col-sm-12">
            <h3>Welcome to join our team!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8" id="jobs-left">
            <p class="text-muted">
                Are you keen on being part of a team bringing up world-class solutions? In line with our growing business, we are looking for new talents to join our growing team.
            </p>
            <h4>Current open positions</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-muted">Job title</th>
                        <th>Job location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td data-toggle="modal" data-target="#senior-java-developer">Senior Java Developer</td>
                        <td>Finland</td>
                    </tr>
                    <tr class="danger">
                        <td data-toggle="modal" data-target="#front-end-developer">Front-End Developer</td>
                        <td>Finland</td>
                    </tr>
                    <tr class="info">
                        <td data-toggle="modal" data-target="#german-english-trainee">Native German and Native English Speaking Trainee</td>
                        <td>Finland</td>
                    </tr>
                </tbody>
            </table>

            <p class="text-muted">
                We offer challenging tasks, an innovative environment, a relaxed and open atmosphere, a competitive salary and other benefits. We value positive attitude, initiativeness and openness. If you feel that we are describing you in one of these open vacancies,
                please send us your application as soon as possible.
                <br>
                <br>For further information or application, please send an e-mail to: <u>talent@in4mo.com</u>
            </p>

        </div>
        <div class="col-sm-4" id="jobs-right">
            <img src="images/teamwork.png" alt="Teamwork" class="img-thumbnail" />
        </div>
    </div>
</div>

<!--Modal for job's detail-->

<!--For senior java develpper-->
<div class="modal fade" id="senior-java-developer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Senior Java Developer<br>Finland</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">In4mo established in 2007 and headquartered in Espoo, Finland, is a fast growing international high-tech company focusing in providing world class Claim Handling solutions to insurance companies and their partners.
                    <br>
                    <br> In4mo's mission is to bring up innovative solutions to achieve high efficiency in all business segments it operates. Most of the Property Insurance Companies, e.g. If, Tryg, Folksam, Gjensidige, Fennia, in Nordic countries are some
                    of in4mo's customers. In4mo is named one of the fastest growing companies in Finland. In4mo has offices in Espoo and Stockholm.
                </p>
                <h5>Senior Java Developers</h5>
                <p class="text-muted">As we are continuing our growth we are looking for talented Java developers to join our dynamic international R&D team in Espoo!
                    <br>
                    <br>
                    <span class="names">As Senior Java Developer</span> you will play a key role in developing our current solutions and building new solutions to our customers. As a member of our R&D team your responsibilities range from design to implementation
                    and development testing while the main focus area is in server side Java development.
                    <br>
                    <br>
                    <span class="names">In4mo offers</span> you a central role in helping the R&D team in building world-class top quality products. You will get a chance to strengthen your current competences and develop new ones with an international
                    team of highly talented IT professionals. You will be working in an international and innovative environment with a lot of interesting people and relaxed and open atmosphere.
                    <br>
                    <br>
                </p>

                <h5>What we are expecting from you:</h5>
                <ul class="list-unstyled text-muted">
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Several years of Java programming experience.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Several years of web development experience, using both modern and older frameworks. Working knowledge of SQL.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> The ability and desire to write well structured, reusable and maintainable code. HTML and CSS knowledge.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> A good, basic understanding of the whole software stack in a modern SaaS solution (database-server-client) and how they integrate.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Fluent in written and spoken English. Fluency in Finnish or Swedish would be an advantage.</li>
                </ul>

                <p class="text-muted">In addition to this we value experience with modern JavaScript frameworks and good understanding of IT Security.
                    <br>
                    <br> Above all we are looking for great team players, and ambitious and self-driven colleagues, who are passionate about creating a product that is solid and well- designed both on the inside and outside!
                    <br>
                    <br>
                </p>

                <h5>Are you the person we are looking for?</h5>
                <p class="text-muted">To apply, send an application via e-mail to <u>marja.leppanen(at)in4mo.fi</u>.
                    <br> We hope that applications include a comprehensive (skills, task description, achievements, work history) CV or LinkedIn profile.
                    <br> For further information about In4mo or the position please contact Marja Leppänen:
                    <br> <u>marja.leppanen(at)in4mo.fi</u>
                    <br>
                    <u>+358 40 451 6225.</u>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--For fron-end develpper-->
<div class="modal fade" id="front-end-developer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Front-End Developer <br>Finland</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">In4mo established in 2007 and headquartered in Espoo, Finland, is a fast growing international high-tech company focusing in providing world class Claim Handling solutions to insurance companies and their partners.
                    <br>
                    <br> in4mo's mission is to bring up innovative solutions to achieve high efficiency in all business segments it operates. Most of the Property Insurance Companies, e.g. If, Tryg, Folksam, Gjensidige, Fennia, in Nordic countries are some
                    of in4mo's customers. In4mo is named one of the fastest growing companies in Finland. In4mo has offices in Espoo and Stockholm.
                </p>
                <h5>We are now looking for a front-end developer</h5>
                <p class="text-muted">Do you have a drive to set yourself in the end user’s role and challenge yourself to design world-class user interfaces? Are you a responsible person who wants to share your knowledge to create something meaningful together? Do you have
                    experience with mobile-web best practices?
                </p>

                <h5>What we are expecting from you:</h5>
                <ul class="list-unstyled text-muted">
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Extensive knowledge of HTML5, JS, Bootstrap, Angular, AJAX, CSS, JSON, JQuery, Responsive frameworks.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Experience with responsive design/development and mobile-web best practices.</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Cross-browser testing</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Client-side optimization and performence.</li>
                </ul>

                <p class="text-muted">
                    Experience from Java Server and database is appreciated. Above all we are looking for great team players, and ambitious and self-driven colleagues, who are passionate about creating a product that is solid and well- designed both on the inside and outside.
                    <br>
                    <br>
                    <span class="names">In4mo offers</span> you a central role in helping the R&D team in building world-class top quality products. You will be working in an international and innovative environment with a lot of interesting people and
                    relaxed and open atmosphere.
                    <br>
                    <br> As an employer we have many good benefits to offer like free lunch, insurances, massages etc. We believe that people’s wellbeing is the key to achieve the goals in work and for that reason we want to support balance between work and
                    other parts of life.
                </p>

                <h5>Are you the person we are looking for?</h5>
                <p class="text-muted">To apply, send an application via e-mail to <u>marja.leppanen(at)in4mo.fi</u>.
                    <br> We hope that applications include a comprehensive (skills, task description, achievements, work history) CV or LinkedIn profile.
                    <br> For further information about In4mo or the position please contact Marja Leppänen:
                    <br> <u>marja.leppanen(at)in4mo.fi</u>
                    <br>
                    <u>+358 40 451 6225.</u>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--For German English trainee-->
<div class="modal fade" id="german-english-trainee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Native German and Native English Speaking Trainee (2 positions) <br>FINLAND</h4>
            </div>
            <div class="modal-body">
                <p class="text-muted">In4mo established in 2007 and headquartered in Espoo, Finland, is a fast growing international high-tech company focusing in providing world class Claim Handling solutions to insurance companies and their partners.
                    <br>
                    <br> In4mo's mission is to bring up innovative solutions to achieve high efficiency in all business segments it operates. Most of the Property Insurance Companies, e.g. If, Tryg, Folksam, Gjensidige, Fennia, in Nordic countries are some
                    of In4mo's customers. In4mo is named one of the fastest growing companies in Finland. in4mo has offices in Espoo and Stockholm.
                </p>
                <h5>We are currently looking for a:</h5>
                <p class="text-muted">Do you have a drive to set yourself in the end user’s role and challenge yourself to design world-class user interfaces? Are you a responsible person who wants to share your knowledge to create something meaningful together? Do you have
                    experience with mobile-web best practices?
                </p>

                <ul class="list-unstyled text-muted">
                    <li> <i class="fa fa-check" aria-hidden="true"></i> A native English Speaking trainee</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> A native German Speaking trainee</li>
                </ul>

                <p>To join our testing team for a fixed period. Your weekly work hours vary between 15 to 20 hours. In project, you will be testing our solution and localizing materials to English and to German. You will work closely with our implementation,
                    technical support and sales to produce excellent language to marketing, training and instruction materials. You are given high degree of autonomy and independence.
                </p>

                <h5>Requirements:</h5>
                <ul class="list-unstyled text-muted">
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Be native German /English, both written and spoken</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Have ability to ensure that the translations reflect the right message in content</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Have a systematic way of working</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Have Good it-skills</li>
                    <li> <i class="fa fa-check" aria-hidden="true"></i> Experience from IT-field is a plus: Some experience from coding and manual testing.</li>
                </ul>

                <p class="text-muted">
                    We offer an international, innovative environment, a relaxed and open atmosphere, a competitive salary and other benefits.
                    <br>
                    <br>
                    <span class="names">In4mo offers</span> you a chance to strengthen your current competences and develop new ones with talented IT professionals. You will be working with a lot of interesting people and a relaxed and open atmosphere.
                    You will be located in our Espoo office. We value a positive attitude, initiative and openness.
                </p>

                <h5>Are you the person we are looking for?</h5>
                <p class="text-muted">To apply, send an application via e-mail to <u>marja.leppanen(at)in4mo.fi</u>.
                    <br> We hope that applications include a comprehensive (skills, task description, achievements, work history) CV or LinkedIn profile.
                    <br> For further information about In4mo or the position please contact Marja Leppänen:
                    <br> <u>marja.leppanen(at)in4mo.fi</u>
                    <br>
                    <u>+358 40 451 6225.</u>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
