<div class="container-fluid" id="newsdiv">
    <div class="row">
        <div class="col-sm-8" id="news-left">
            <h3>In4mo news&nbsp;&nbsp;<i class="fa fa-newspaper-o" aria-hidden="true"></i></h3>
            <ul class="list-unstyled">
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
                <li>
                    <span class="news-dates">
                      15.November.2016&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                    <p class="text-muted">
                        <span class="names">Varme & Bad</span> and <span class="names">in4mo</span> signed an agreement to take the in4mo <span class="names">Contractor</span> solution into use in Norway.
                    </p>
                    <hr>
                </li>
            </ul>
        </div>

        <div class="col-sm-4" id="news-right">
          <img src="images/news.png" alt="News" class="img-thumbnail">

        </div>
    </div>
</div>
