<div class="container-fluid" id="servicediv">
    <div class="row" id="service-row">
        <div class="col-sm-8" id="service-left">

            <h3>Our service overview</h3>
            <p class="text-muted">
                Our solutions are based on the idea of using the latest mobile and internet technologies to simplify the business processes of our customers and bring significant efficiency improvements.Our main focus is to understand their needs and bring improvements
                to the Insurance Companies and Contractors. In4mo solutions consist of an easy-to-use mobile client for the field users and an efficient web portal for all check-circleers.
            </p>

            <h4>In4mo offer these solutions to its customers:</h4>

            <ul class="list-unstyled" id="solutions">
                <li class="text-muted" data-toggle="collapse"  data-target="#building"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;In4mo Building Claims&nbsp;  </li>
                <div class="collapse" id="building">
                  <div class="well">
                    Designed for the insurance industry to boost the efficiency of the Damage Claim Handling process. All the parties involved in the execution of the Damage Claim Handling process are brought together. Fast and smooth collaboration helps to achieve increased customer satisfaction. Among other things, solution includes these modules:
                    <div class="row">
                      <div class="col-sm-6">
                        <img src="images/in4moandroid.png" alt="In4mo mobile">
                      </div>
                      <div class="col-sm-6">
                        <ul class="list-unstyled">
                          <li><a href="https://vimeo.com/146764325" target="_blank"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Reporting of repair tasks</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>
                          <li><a href="#"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Inspection reporting</a></li>

                        </ul>

                      </div>
                    </div>
                  </div>
                </div>

                <li class="text-muted" data-toggle="collapse"  data-target="#boat"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;In4mo Boat Claims&nbsp;  </li>
                <div class="collapse" id="boat">
                  <div class="well">
                  Brings automation and coordination to the execution of the Boat Claims process. Partner selection, inspection, repair and customer communication is made easier.
                  </div>
                </div>

                <li class="text-muted" data-toggle="collapse"  data-target="#cost"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;In4mo Cost Calculations&nbsp;  </li>
                <div class="collapse" id="cost">
                  <div class="well">
                    Works as a stand-alone solution or an integrated part of in4mo Building Claims and in4mo Contractor. Supports the contractor and insurance company experts in creating a repair project plan and calculating the cost of the repair. Cost Calculation can be done both using the mobile client on a tablet or via the web portal on a PC. iCC brings ease-of-use, transparency and flexibility to the costs of repair and planning.
                  </div>
                </div>

                <li class="text-muted" data-toggle="collapse"  data-target="#writing"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;In4mo Underwriting&nbsp;  </li>
                <div class="collapse" id="writing">
                  <div class="well">
                    Allows under-writing inspectors to do easier risk assessment inspections. Automates part of the report making; quickens the communication of field work to the colleagues in the office. Insurance companies can decrease the risk-assessment process time, make quicker decisions and keep track of the cases in a more organized way.
                  </div>
                </div>

                <li class="text-muted" data-toggle="collapse"  data-target="#contract"><i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;In4mo Contractor&nbsp;  </li>
                <div class="collapse" id="contract">
                  <div class="well">
                    in4mo Contractor is available in two versions: Lite and Pro.<br>
                    For more information, please visit the <a href="https://contractor.in4mo.net/#/" target="_blank">Registration Page</a>
                  </div>
                </div>
            </ul>

            <p class="text-muted">
                Our solutions are offered in SaaS (Software as a Service) basis. Our customers do not need to worry about technical maintenance, back-ups or capacity issues. In4mo is an ISO 27001:2005 Certified company. In every step of our design, we have considered
                data security. Multimedia messages are generated, transmitted and stored in an encrypted way throughout the system. Tolerance to temporary network problems, ease-of-use, speed and robustness of communication achieved via our careful design
                makes our solutions a trustable enabler of your process improvements.
            </p>

            <h4>Benefits of In4mo’s solutions are</h4>
            <ul class="list-unstyled text-muted">
                <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Fast execution of the process</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Steps automated where possible</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Easy collaboration between different parties</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Fast and sufficient information provided to the end-customer</li>
            </ul>

            <p class="text-muted">Leading to increased Efficiency as well as increased Customer Satisfaction.</p>
        </div>

        <div class="col-sm-4" id="service-right">
          <h4>Contact us <i class="fa fa-phone-square" aria-hidden="true"></i></h4>
          <h5>Our offices <i class="fa fa-home" aria-hidden="true"></i></h5>
          <ul class="list-unstyled">
            <li class="text-muted" data-toggle="collapse"  data-target="#finland-office"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;In Finland&nbsp;  </li>
            <div class="collapse" id="finland-office">
              <div class="well">
                Tekniikantie 12, 02150 ESPOO
              </div>
            </div>
            <li class="text-muted" data-toggle="collapse"  data-target="#sweden-office"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;In Sweden&nbsp;  </li>
            <div class="collapse" id="sweden-office">
              <div class="well">
                Kungsgatan 4 B, 6 floor, 111 43 STOCKHOLM
              </div>
            </div>
          </ul>

          <h5>Talk to us <i class="fa fa-paper-plane" aria-hidden="true"></i></h5>
          <ul class="list-unstyled">
            <li class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;info(at)in4mo.com</li>
            <li class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;name.surname(at)in4mo.com</li>
          </ul>

          <h5>Business development&nbsp;&nbsp;&nbsp;<i class="fa fa-handshake-o" aria-hidden="true"></i></h5>
          <p class="text-muted">
            If you are interested to hear more, please contact us at info(at)in4mo.com or call
          </p>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/management-team/teemu.jpg" alt="Teemu Toivonen">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Teemmu Toivonen</h5>
                    <p class="text-muted">
                      <i>Business development</i><br />
                      +358 400 760 553
                    </p>
                </div>
            </div>

            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/management-team/jan.jpg" alt="Jan Marttilla">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading">Jan Marttilla</h5>
                    <p class="text-muted">
                      <i>Business development</i><br />
                      +46 763 070 096
                    </p>
                </div>
            </div>

            <h4>Customer support&nbsp;&nbsp;&nbsp;<i class="fa fa-users" aria-hidden="true"></i></h4>

            <div class="media">
                <div class="media-body">
                    <h5 class="media-heading">Finland, Norway and Sweden</h5>
                    <ul>
                      <li class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+358 400 381 000 </li>
                      <li class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Local time:&nbsp;08:00-16:00</li>
                      <li class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;support(at)in4mo.com</li>
                    </ul>
                </div>
            </div>
              <div class="media">
                  <div class="media-body">
                      <h5 class="media-heading">Denmark</h5>
                      <ul>
                        <li class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+358 400 722 731 </li>
                        <li class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;&nbsp;Local time:&nbsp;08:00-16:00</li>
                        <li class="text-muted"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;support.dk(at)in4mo.com</li>
                      </ul>
                  </div>
              </div>

        </div>
    </div>

</div>
